<div class="contents" >
    <div class="group-image" fxLayout="row" fxLayoutAlign="center center">
        <div class="back-drop">

        </div>
        <div class="parallax"> 

        </div>
        <!-- <img style="height:100%;width:100%;" src="../../../assets/images/2019-09-17.jpg"> -->
    </div>
    <div class="informations" fxLayout="column" fxLayoutAlign="center center">
      <p class="text-data">BENEFITS</p>
      <hr class="dash">
    </div>
    <div class="coding-icons" fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="icons">
          <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/job_assistance.svg"><br>
          <p id="title">Job Assistance For Coding Proficient Talent</p>
        </div>
        <div class="icons" >
          <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/recognition.svg"><br>
          <p id="title">Recognition For Top Coding Minds</p>
        </div>
        <div class="icons"  >
          <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/grooming.svg"><br>
          <p id="title">Grooming For Top Technology Jobs</p>
        </div>
    </div>
    <div class="informations" fxLayout="column" fxLayoutAlign="center center">
      <p class="text-data">HOW TO CRACK IT ?</p>
      <hr class="dash">
      
           <p class="para">To prepare for the test, participants can begin with solving the most common programming exercises and further practice the basic elements of coding that are part of their curriculum. Participants are also advised to brush up their knowledge on subjects such as Data Structures, Algorithms (i.e. sorting, searching, etc.).
              Your performance in ET Campus Coding Stars will only determine whether you qualify to be in our list of the brightest coding minds in India or not and it is an individual test acting as an incentive for your benefit. 
             Your performance in this test will have no bearing on your ETCS journey.
            </p> 
       
        <button id="register" >Register For ETCS</button>

       
    </div>
    <div class="jury-section">
        <div class="jury" fxLayout="column" fxLayoutAlign="center center">
            <p class="text-data">Program Jury</p>
            <hr class="dash">
        </div>
        <!-- <div class="program-jury" fxLayout="row wrap" fxLayoutAlign="start center" >
            <div class="jury-members" *ngFor='let members of juryData' fxLayout="row wrap" fxLayoutAlign="start center" >
                <img height="80px" width="80px" style="border-radius: 50%;" src="{{members.image}}">
                <p id="designation">{{members.name}}</p>
                <p id="designation">{{members.designation}}</p>
                
            </div> 
        </div> -->
    </div>
    
    
</div>