
<div class="contents" >

        <div class="group-image"  fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxLayoutAlign="center center" >
                    
            <div class="back-drop">
                                <!-- <img src="../../../assets/images/2019-09-17.jpg" style="width:100%; height: 100%;"> -->
                                    <div class="parallax"  > 

                                    </div>
                                    <div class="top-contents">
                                        <div class="logo" fxLayout="row" >
                                            <img height="150px" width="250px" src="../../../assets/images/Group 2998.svg">
                                        </div>
                                        <div class="about" fxLayout="row" >
                                            <p id="campus">ABOUT ET CAMPUS CODING STARS POWERED BY BRIDGELABZ</p>
                                        </div>
                                        <div class="text" fxLayout="row" >
                                            <p id="text-content">“ET Campus Coding Stars powered by BridgeLabz” is a talent assessment program devised to hunt for the most talented coding minds in India. The contest involves an MCQ formatted test which would evaluate the coding proficiency of the participants. Candidates would require around 15 minutes to complete the test.</p>
                                        </div>
                                    </div>
                                         
            </div>


        </div>
        
        <div class="informations" fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="center center">
                <p class="text-data">BENEFITS</p>
                <hr class="dash">
        </div>
        <div class="coding-icons" fxLayout="row" fxLayout.xs="column" fxLayout.sm="row wrap" fxLayout.md="row wrap" fxLayoutAlign="space-around center" >
                <div class="icons">
                  <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/job_assistance.svg"><br>
                  <p id="title">Job Assistance For Coding Proficient Talent</p>
                </div>
                <div class="icons" >
                  <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/recognition.svg"><br>
                  <p id="title">Recognition For Top Coding Minds</p>
                </div>
                <div class="icons"  >
                  <img height="80px" width="80px" style="margin-bottom:12px;" src="../../../assets/images/grooming.svg"><br>
                  <p id="title">Grooming For Top Technology Jobs</p>
                </div>
        </div>
        <div class="informations" fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="center center">
                <p class="text-data">HOW TO CRACK IT ?</p>
                <hr class="dash">
                
                     <p class="para">To prepare for the test, participants can begin with solving the most common programming exercises and further practice the basic elements of coding that are part of their curriculum. Participants are also advised to brush up their knowledge on subjects such as Data Structures, Algorithms (i.e. sorting, searching, etc.).
                        Your performance in ET Campus Coding Stars will only determine whether you qualify to be in our list of the brightest coding minds in India or not and it is an individual test acting as an incentive for your benefit. 
                       Your performance in this test will have no bearing on your ETCS journey.
                      </p> 
                 
                  <button id="register" >Register For ETCS</button>
          
                 
        </div>
        <div class="jury-section">
                <div class="jury" fxLayout="column"  fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="center center">
                    <p class="text-data">PROGRAM JURY</p>
                    <hr class="dash">
                </div>
                <div class="program-jury" fxLayout="row wrap"  fxLayout.xs="column" fxLayout.sm="row wrap" fxLayout.md="row wrap"  fxLayoutAlign="center center" >
                    <div class="jury-members" *ngFor='let members of juryData' fxLayout="column" fxLayoutAlign="start center" >
                        <img class="jury-image"  style="border-radius: 50%;" src="{{members.image}}">
                        <div class="jury-info">
                            <p id="jury-name">{{members.name}}</p>
                            <p id="designation">{{members.designation}}</p>
                        </div>
                       
                        
                    </div> 
                </div>
        </div>
        <div class="wall-of-leader"  >
                <div class="wall-heading" >
                        <p class="text-data">WALL OF LEADER</p>
                        <hr class="dash">
                </div>
                <!-- <div class="wall-image"  >
                        <img src="../../../assets/images/wall-of-leader.svg" style="width:100%">
                </div> -->
            <div class="wall-image" fxShow.sm="false"  fxShow.xs="false" fxShow="true"   >
                    <img src="../../../assets/images/wall-of-leader.svg" style="width:100%">
            </div>
            <div class="wall-image-line" fxLayout="row" fxLayoutAlign="center center" fxShow.md="false"  fxShow.lg="false" fxShow.xl="false" fxShow="true">
                <img  src="../../../assets/images/wall-leader.svg">
            </div>
           
        </div>

        <div class="container">
            <img  class="footer-image">
             
                    <div class="footer" fxLayout="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutAlign="center center">
                            <div class="footer-logo">
                                <img class="bl-logo" src="../../../assets/images/BL-logo.png">
                            </div>
                            <div class="address">
                            <ul >
                                <li id="address1">BridgeLabz Solutions LLP, 1st Floor, Malhotra Chambers, Deonar, Govandi East, Mumbai - 400088</li>
                                <li id="address2">BridgeLabz Solutions LLP,No. 42, 14th Main,15th Cross, Sector 4, opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</li>
                            </ul>
                            </div>
                            <div class="social-logo"  fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxLayoutAlign="start center">
                                <img class="tweeter"  src="../../../assets/images/Tweeter.png">
                                <img class="facebook" src="../../../assets/images/Faceebook.png">
                                <img class="linkedin" src="../../../assets/images/Linkedin.png">
                    
                            </div>
                            <div class="privacy" >
                                <a class="policy" href="#">Privacy Policy</a>
                            </div>
                    </div>
                                                
        </div>
        <div class="footer-line" fxLayout="row" >
            <div class="orange-rectangle" fxFlex="25">

            </div>
            <div class="orange-blue" fxFlex="25">
                
            </div>
            <div class="orange-yellow" fxFlex="25">
                
            </div>
            <div class="orange-green" fxFlex="25">
                
            </div>
        </div>

       


</div>        