<div class="group-image" >
    <div class="back-drop">
        <div class="parallax"> 
        </div>
        <div class="logo" fxLayout="row" >
            <img height="150px" width="250px" src="../../../assets/images/Group 2998.svg">
        </div>
        <div class="about" fxLayout="row" >
            <p id="campus">ABOUT ET CAMPUS CODING STARS POWERED BY BRIDGELABZ</p>
        </div>
        <div class="text" fxLayout="row" >
            <p id="text-content">“ET Campus Coding Stars powered by BridgeLabz” is a talent assessment program devised to hunt for the most talented coding minds in India. The contest involves an MCQ formatted test which would evaluate the coding proficiency of the participants. Candidates would require around 15 minutes to complete the test.</p>
        </div>
      </div>


</div>